{% extends 'base.html' %}

{% block title %}Lokasi | Motion Gym{% endblock %}

{% block content %}
<h2>Lokasi Kami</h2>
<p>Kunjungi cabang kami di berbagai lokasi strategis:</p>
<div class="row">
    <div class="col-md-6">
        <h5>Motion Gym Samarinda</h5>
        <p>Jl. Kuaro, Gn. Kelua</p>
        <p><strong>Jam Operasional:</strong> 06:00 - 22:00</p>
    </div>
    <div class="col-md-6">
        <h5>Motion Gym Samarinda</h5>
        <p>Jl. Damai Gang sederhana</p>
        <p><strong>Jam Operasional:</strong> 06:00 - 22:00</p>
    </div>
</div>
<div class="mt-4">
    <h5>Peta Lokasi</h5>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3989.684962655265!2d117.15142247489133!3d-0.4684586995269405!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2df67f4bb8b9dcd1%3A0x6fd5d38233261f93!2sUniversitas%20Mulawarman!5e0!3m2!1sid!2sid!4v1731683871440!5m2!1sid!2sid" width="100%" height="800" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>
{% endblock %}
