<form method="POST">
    {% csrf_token %}
    <!-- Name Field -->
    <div class="mb-3">
        <label for="id_name" class="form-label">Nama</label>
        <input type="text" class="form-control" id="id_name" name="name"
            value="{{ form.name.value|default_if_none:'' }}" required>
        <div class="invalid-feedback">{{ form.name.errors }}</div>
    </div>
    <!-- Price Field -->
    <div class="mb-3">
        <label for="id_price" class="form-label">Harga</label>
        <input type="number" class="form-control" id="id_price" name="price" step="0.01"
            data-inputmask="'alias': 'numeric', 'groupSeparator': ',', 'autoGroup': true, 'digits': 2, 'digitsOptional': false, 'prefix': '$ ', 'placeholder': '0'"
            value="{{form.price.value|default_if_none:'' }}" required>
        <div class="invalid-feedback">{{ form.price.errors }}</div>
    </div>
    <!-- Limit Field -->
    <div class="mb-3">
        <label for="id_limit" class="form-label">Limit Per Minggu</label>
        <input type="number" class="form-control" id="id_limit" name="limit"
            value="{{form.limit.value|default_if_none:'' }}" required>
        <div class="invalid-feedback">{{ form.limit.errors }}</div>
    </div>
    <!-- Duration Field -->
    <div class="mb-3">
        <label for="id_duration" class="form-label">Durasi</label>
        <input type="text" class="form-control" id="id_duration" name="duration"
            value="{{ form.duration.value|default_if_none:'' }}" required>
        <div class="invalid-feedback">{{ form.duration.errors }}</div>
    </div>
    <button type="submit" class="btn btn-primary">Simpan</button>
</form>