{% extends 'dashboard/admin/layout.html' %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard Admin - Dashboard MOTION</title>
    {% load django_bootstrap5 %} {% bootstrap_css %}
</head>

<body>
    {% block content %}

        <!-- Konten Dashboard Admin -->
        <div class="hero bg-light p-5 rounded-lg m-3">
            {% if user.is_authenticated %}
            <h1 class="display-4">Selamat Datang Admin, {{ user.username }}</h1>
            {% else %}
            <p>Silakan login terlebih dahulu.</p>
            {% endif %}
        </div>
    {% endblock %}
</body>

</html>
